body {
    color: black;
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif
    
    }
    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none ;
        align-items: center;
        padding: 16px;
    }
    
    a{
        color: black;
        text-decoration: none;
    }

    header text {
        text-align: center;
    }

    .center {
        text-align: center;
    }

    .container {
padding: 0px 50px;
    }

    nav a:hover {
        color: antiquewhite;
    }
